{% extends 'layout/base.html' %}
{% block header %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index_page.css') }}">
{% endblock %}
{% block content %}
  <div class="container theme-showcase" role="main">

    <div class="jumbotron">
      <h1>Guest Book</h1>
      <br>
      <a type="button" class="" href="{{ url_for('add_comment') }}">Leave comment in the Guest Book</a>
    </div>
    {% if comments %}
      {% for cm in comments %}
        <div class="page-header">
          <h2> {{ cm.name }}</h2>
        </div>
        <div class="well">
          <p>
            {{ cm.comment }}
          </p>
        </div>
      {% endfor %}
    {% else %}
      <h2 class="text-center">No comments!</h2>
    {% endif %}

  </div>
{% endblock %}
